<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
{#    {% autoescape off %}#}
{#        {{ infostr }}#}
{#        {{ infostr|safe }}#}
{#        {{ infostr|escape }}#}
{#    {% endautoescape%}#}
    <form action="/login/" method="post">
        {% csrf_token %}
        账号：<input type="text" name="username"><hr/>
        密码：<input type="text" name="passwd"><hr/>
        验证码：<input type="text" name="verifycode">   <img src="/verifycode/">
        <hr/><input type="submit" value="登录">
    </form>
</body>
</html>